extends layout 

block content
    main.flex
        include includes/sidebar
        .container
            include includes/navbar
            .card.m-2
                .card-body
                    h5.card-title= pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1)
                    div.text-center
                        a(href='/pokemons/pokemon?id='+(pokemon.id-1))
                            button.btn.btn-primary.float-start.mt-5.ms-5
                                p.mb-1.me-1= '<'
                        a(href='/pokemons/pokemon?id='+(pokemon.id+1))
                            button.btn.btn-primary.float-end.mt-5.me-5 
                                p.mb-1.me-1= '>'

                        img.card-img-topimg(src=pokemon.sprites.other['official-artwork'].front_default, style='width:128px; height:128px;')
                    div.mt-3
                        table.table
                            thead
                            tbody
                                tr
                                td.col-2 id
                                td= pokemon.id
                                tr
                                td Peso (Kg)
                                td= pokemon.weight/10 
                                tr                                
                                td Altura (m)
                                td= pokemon.height/10
                                tr
                                td Tipos
                                td
                                    each pokemonType in pokemon.types
                                        - let arr = pokemonType.type.url.split('/')
                                        - let typeName = pokemonType.type.name.charAt(0).toUpperCase() + pokemonType.type.name.slice(1)
                                        a(href='/types/type?id='+arr[arr.length-2])= typeName
                                        | , 
                                tr
                                td Habilidades
                                td 
                                    each pokemonAbility in pokemon.abilities
                                        = pokemonAbility.ability.name
                                        | , 
                                tr 
                                td Movimentos
                                td
                                    each pokemonMove in pokemon.moves
                                        - let arr = pokemonMove.move.url.split('/')
                                        - let moveName = pokemonMove.move.name.charAt(0).toUpperCase() + pokemonMove.move.name.slice(1)
                                        a(href='/moves/move?id='+arr[arr.length-2])= moveName
                                        | , 
                                tr
                                - var statNames = ['Vida', 'Ataque', 'Defesa', 'Ataque Especial', 'Defesa Especial', 'Velocidade']
                                each stat in [0, 1, 2, 3, 4, 5]
                                    tr
                                    td= statNames[stat]
                                    td= pokemon.stats[stat].base_stat
                                    tr

